body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header h1 {
    text-align: center;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input, form select {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
footer {
    text-align: center; /* Yazıyı ortalar */
    padding: 20px 0; /* Üst ve alt boşluk ekler */
    background-color: #333; /* Arka plan rengi */
    color: #fff; /* Yazı rengi */
    position: fixed; /* Footer'ın sayfa altında sabit durmasını sağlar */
    width: 100%; /* Footer'ın genişliğini tam sayfa yapar */
    bottom: 0; /* Sayfa altına sabitler */
}
